@model MessengerMvcApp.ViewModels.LoginViewModel

@{
}
<h1>Log in now</h1>

<form asp-action="Submit" method="post">

    <label asp-for="@Model.loginModel.EmailID"></label>
    <input asp-for="@Model.loginModel.EmailID" />
    <span asp-validation-for="@Model.loginModel.EmailID"></span>
    @if (!Model.emailExists)
    {
        <span>email doesnot exist!</span>
    }
    <br />

    <label asp-for="@Model.loginModel.Password"></label>
    <input asp-for="@Model.loginModel.Password" />
    <span asp-validation-for="@Model.loginModel.Password"></span>
    @if (!Model.passwordExists)
    {
        <span>password doesnot exist!</span>
    }
    <br />

    <button type="submit">Sign In</button>

</form>